@import './mixin.scss';

body {
  padding: 0;
  margin: 0;
}

@include handleTheme($themes) {
  color: themed('font-color');
  background-color: themed('color');

  h2 {
    font-size: 14px;
  }

  list {
    font-style: none;
  }

}
